body {
    font-size: 20px;
    text-align: center;
}
.header {
    background-color: antiquewhite;
    height: 5vh;
    padding: 2.5vh;
}

.footer {
    background-color: aquamarine;
    height: 5vh;
    padding: 2.5vh;
}